<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="twelve columns">
      <h4>A carpenter is only as good as his tools.</h4>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-django-plain colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain"></i>
      <i class="devicon-nodejs-plain-wordmark colored"></i>      
      <i class="devicon-html5-plain-wordmark"></i>      
      <i class="devicon-git-plain"></i>
      <p></p>
    </div>
  </div>
  <div class="row user">
      <div class="twelve columns">
        <h4>Okay, education too.</h4>
        <img src="{{ "/assets/img/ksu.png" | prepend: site.baseurl }}" style="max-width:300px;">
        <p>Bachelor of Science in Computer Science.</p>
        <img src="{{ "/assets/img/gt.png" | prepend: site.baseurl }}" style="max-width:300px;">
        <p>Master of Science in Computer Science (In progress).</p>
      </div>
    </div>
</div>
