<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="twelve columns">
      <h4>A carpenter is only as good as his tools.</h4>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-django-plain colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain"></i>
      <i class="devicon-nodejs-plain-wordmark colored"></i>      
      <i class="devicon-html5-plain-wordmark"></i>      
      <i class="devicon-git-plain"></i>
      <p></p>
    </div>
  </div>
  <div class="row user">
    <h4>Okay, education too.</h4>
  </div>
  <div class="row user">
    <div class="six columns">
      <img src="{{ "/assets/img/ksu.png" | prepend: site.baseurl }}" style="max-width:300px;">
      <p>Bachelor of Science in Computer Science.</p>
    </div>
    <div class="six columns">
      <img src="{{ "/assets/img/gt.png" | prepend: site.baseurl }}" style="max-width:300px;">
      <p>Master of Science in Computer Science (In progress).</p>
    </div>
  </div>
  <hr>
  <div class="row user">
    <h3> My Experience </h3>
  </div>
  <h5>Automation Engineer</h5>
  <b><a target="_blank" href="http://www.automatedlogic.com">Automated Logic Corporation</a></b>
  <b>[June 2016:]</b>
  <ul>
    <li>Created a firmware automation deployment environment consisting of a <strong>distributed system</strong> with over 90 devices while leveraging <strong>Django’s web framework</strong> and <strong>Redis</strong> as a message broker.</li>
    <li>Utilized <strong>Django’s template language, HTML5 and javascript</strong> to create an interactive frontend with many <strong>data visualizations</strong> to represent test coverage.</li>
    <li>Designed and developed beautiful, easy-to-use application to ease the bottleneck in TCP/UDP communication protocol testing - <strong>developed with portable, scalable APIs</strong>.</li>
    <li><strong>Trained</strong> firmware and senior firmware QA engineers in automation practices while developing a shared framework for automating current manual tests.</li>
    <li>Worked in an <strong>agile</strong> environment with fast deadlines while also taking part in Lean production principles that apply to software development.</li>
  </ul>
  <h5> Full Stack Web Developer</h5>
  <b><a target="_blank" href="https://www.lydiacircleministries.org">Lydia Circle Ministries</a></b>
  <b>[June 2016:]</b>
  <ul>
    <li>Developed and deployed Lydia Circle’s first website using Python’s <strong>Flask micro framework</strong> combined with modern web technologies.</li>
    <li>Worked to implement Braintree’s API (PayPal) into site for <strong>ecommerce</strong>.</li>
    <li>Created an <strong>email API</strong> for automatic delivery of receipts, notifications, and web monitoring.</li>
  </ul>
  <div class="row user">
    <p><b><a href="{{ "/assets/files/DykstraResume-Dev.pdf" | prepend: site.baseurl }}">Download my resume to see more</a></b></p>
  </div>
</div>
